#grdGame {
    width: 900px;
    height: 1200px;
    margin-top: 10px;
}

div {
    width: 900px;
    font-size: 40pt;
}

#hintActionDesc label {
    color: red;
}

.snitch {
    background-image: url("../image/snitch.jpg");
    //background-color: yellow;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
}

.harry-current {
    background-image: url("../image/harry.png");
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    //background-color: red;
}

.harry-previous {
    background-image: url("../image/harry.png");
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    //background-color: lightpink;
    filter: blur(4px);
    -webkit-filter: blur(4px);
}

.success {
    background-image: url("../image/success.png");
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    //background-color: greenyellow;
}